.ForTime{
    border: 1px solid #C06C84;
      padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 11px;
    padding-left: 11px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 13px;
    font-family: 'Poppins';
    cursor: pointer;
       transition: 400ms;
}
.ForTime:hover{
   background: #C06C84;
   transition: 400ms;
   color: #ffffff;
}
.BottomButtonTwo img{
height: 24px;
}
.inputStyle{
   background-image: none!important;
   position: relative;
}
.PleceHolderIcon{
       position: absolute;
    right: 60px;
    top: 21%;
}
 .DatePickerInput::-webkit-inner-spin-button,
 .DatePickerInput::-webkit-calendar-picker-indicator {
     opacity:0;   
    -webkit-appearance: none;
 }
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
   opacity: 1;
   -webkit-appearance: none;
}

.CheckInput{
   display: none!important;
}