.DoctorImage{
    height: 150px;
    width: 150px;
    margin-left: 75px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-top: 10px;
}
.socialIcon{
       margin-left: 80px!important;
    margin-right: 80px!important;
}
.DoctorExp{
    font-size: 24px;
    color: #6C5B7B;
    font-family: 'Poppins';
    font-weight: 600;
}
.DocExpText{
       font-size: 13px;
    font-family: 'Poppins';
    color: #818181;
    font-weight: 500;
}

.DocName{
   color: #6C5B7B;
}
.DocFor{
   color: #818181;
   margin-top: 2px!important;
}