
    
    .WaitingPatients{
  
    position: absolute!important;
    z-index: 99999;
    content: '';
    left: 25%;
    top: 25%;
 
    width: 57%;
    margin: 0 auto;
    
    }
    .fade.modal.show {
    padding-top: 10%!important;
    padding-left: 10%!important;
}
.modal-header{
   background: #DEE2E6!important;
   border-radius: 17px 17px 0 0!important;
   border: none!important;
}
.ModalTitle {
   font-size: 18px!important;
    font-family: "Poppins";
    font-weight: 600;
    letter-spacing: .7px;
    margin-left: 5px;
    color: #6C5B7B!important;
}
.modal-content{
   
    border-radius: 17px!important;

}
.PickASlot{
   font-family: "Poppins";
   font-size: 14px!important;
   text-transform: capitalize!important;
   font-weight: 400!important;
   letter-spacing: .7px!important;
   background: #6C5B7B!important;
   border: 1px solid #6C5B7B!important;
       padding-right: 20px!important;
}
.dropdown-toggle::after {
   
    margin-left: 50px!important;
}
.PickASlot:focus{
   border-color: unset!important;
   box-shadow: unset!important;
}
button#dropdown-basic {
    width: 171px;
}

.modalHr{
       margin: 0 auto;
    margin-left: 15px;
    background: #44444400;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 299%;
}