.wrapper{
   background: rgb(108,91,123);
}
.main-panel>.content{
   margin-top: 10px!important;
}
.main-panel{
   
  border-radius: 35px 0px 0px 35px!important;;
  
   background: #F0F3F5;
   overflow-y: scroll;
   scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent ; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.TodoAreaMargin{
   margin-top: -30px;
}
input{
       border: 1px solid #d2d2d2!important;
    border-radius: 6px;
}
nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.fixed-top {
    padding-top: 0;
    padding-bottom: 0;
}


.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 5px 8px;
    vertical-align: middle;
    border-color: #ddd;
}
label{
       color: #757575;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
}