.PatiendInfo{
   margin-left: 20px;
    border-left: 2px solid #C16D85;
    padding-left: 15px;
    margin-top: 20px;
}
.PatiendInfo h5{
    color: #565656;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
}
.PatiendInfo p 
{
   color: #7B7B7B;
   font-size: 12px;
   font-weight: 400;
}
.BorderBottom{
   border-bottom: 1px solid #70707038;
}
.VS{
   margin-left: 30px;
}
.VS img{
       height: 20px;
}
.VS h5{
     font-size: 13px;
    font-family: "Poppins";
    font-weight: 500;
    margin-left: 7px;
}
.VitalSigns{
  
    border-left: 2px solid #C16D85;
    padding-left: 15px;
    margin-top: 20px;
}
.VitalSigns p 
{
   color: #7B7B7B;
   font-size: 12px;
   font-weight: 400;
}
.VitalSigns h5{
    color: #565656;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
}
.PreVitalSigns{
    float: left;
    margin-left: 30px;
    color: #C06C84;
    text-decoration: underline;
    margin-top:10px;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 400;
}
.ButtomBottom{
   width: 88%;
   margin: 0 auto;
     border-top: 1px solid #70707038;
    padding-top: 23px;
}
.ButtomBottom button{
      font-size: 9px;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 200;
      
}
.BottomButtonOne{
   background:#6C5B7B!important;
       border-radius: 22px;
      margin-bottom: 30px;
       color:#fff;
       padding: 0;
       box-shadow: 2px 3px 15px 0px #6c5b7bcc;
       padding-top:9px;
       padding-bottom:9px;
       margin-right: 4px;
       
       
}.BottomButtonTwo{
   background:#C06C84!important;
       border-radius: 22px;
       margin-bottom: 30px;
       color:#fff;
       padding: 0;
       box-shadow: 2px 3px 15px 0px #c06c84c7;
       padding-top:9px;
       padding-bottom:9px;
       
}

/* tab color Change  */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057!important;
    background-color: #fff!important;
    border-color: transparent!important;
    padding-bottom: 20px!important;
    border-bottom: 2px solid #C16D85!important;
}

.tabStyle{
       padding-left: 20px!important;
    padding-top: 13px!important;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
   border-top: transparent!important;
   border-left: transparent!important;
   border-right: transparent!important;
     padding-bottom: 20px!important;
    border-bottom: 2px solid #C16D85!important;
}
/* .nav-tabs{
       display: flex!important;
    justify-content: space-between!important;
} */

/* right padding  */
a#noanim-tab-example-tab-home {
    padding-right: 50px!important;
}


a#noanim-tab-example-tab-Symptom
{
    padding-right: 50px!important;
}

a#noanim-tab-example-tab-Notes {
    padding-right: 50px!important;
}

a#noanim-tab-example-tab-Prescription {
    padding-right: 50px!important;
}

a#noanim-tab-example-tab-Lab\ test{
    padding-right: 50px!important;
}

