.appointments  .card-title{
   background: #DEE2E6;
   color: #6C5B7B;
     font-family:"Poppins"!important;
}

.appointments:hover  .card-title{
   background: #DEE2E6!important;
}
.appointments .card-title .appointmentText{
    font-size: 18px;
    font-weight: 500;
}
.appointmentSearchInpu{
      border: none!important;
    padding-bottom: 0px;
    margin-top: 0px;
}
.SearchStyle{
   background: #ffffff;
   border-radius: 20px;
    padding: 7px;
}
.searchIcon {
    position: absolute;
    right: 0;
    border-radius: 0 20px 20px 0;
    padding: 8px;
    top: 0;
    background: #C06C84;
    color: #ffffff;
  padding-top: 8px;
    padding-bottom: 0px;
   }
button:focus{
   outline: 0;
   box-shadow: none;
}
button{
   border: none;
}
.newAppointment{
   background: #C06C84;
   border-radius: 30px;
   padding-top: 7px;

   padding-bottom: 7px;

}
.AddIcon{
       border-radius: 000999px;
    border: 1px solid;
      font-size: 16px;
    
}
.addText{
   margin-top: 4px;
}
input{
   width: 100%;
}

th{
    font-family: "Poppins"!important;
    font-size: 15px!important;
    text-transform: capitalize!important;
    font-weight: 500!important;
    color: #7B7B7B!important;
}
tr{
   border:unset!important;
      border-bottom: 1px solid transparent!important;
}

th{
   border:unset!important;
      border-bottom: 1px solid transparent!important;
       border-top: 1px solid transparent!important;
}

td{
   border:unset!important;
      border-bottom: 1px solid transparent!important;
      border-top: 1px solid transparent!important;
        color: #444444!important;
    font-family: "Poppins"!important;

    font-weight: 400;
  
}
.paitentName{   
    color: #444444!important;
    font-size: 15px!important;
    font-family: "Poppins"!important;
    font-weight: 400;
    letter-spacing: .5px;

}
.page-item.active .page-link {
    z-index: 3;
    color: #fff!important;
    background-color: #C06C84!important;
    border-color: #C06C84!important;
    border-radius: 6px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
}
.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6D6D6D!important;
    background-color: #F0F3F5!important;
    border: none!important;
    margin-right: 6px;
    border-radius: 6px;
        padding-top: 10px!important;
    padding-bottom: 10px!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
}
.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow:0 0 0 0.2rem #c06c844a!important;
}
.previous>a>span{
       font-size: 38px;
    color: #C06C84;
}
.next>a>span{
       font-size: 38px;
    color: #C06C84;
}
.previous>a{
     background: #fff!important;
    padding: 0!important;
  
    margin-right: 15px;
    margin-bottom: -10px;
   
    margin-top: -5px;
}
.next>a{
     background: #fff!important;
    padding: 0!important;
  
    margin-left: 5px;
    margin-bottom: -10px;
   
    margin-top: -5px;
}