
.card{
   border-radius: 17px!important;
       border: none!important;
    min-width: 197px!important;
    width: 100%;
    transition:400ms
}

.card:hover{
   box-shadow: 0px 0px 10px 0px #c06c84d1;
   cursor: pointer;
   transition:400ms
}
.card:hover .card-title{
   background: #7A6B88;
    transition:400ms
}
.card-body{
   padding: 0!important;
}
.waitingcard {
     box-shadow: 0px 0px 10px 0px #c06c84d1;
}
.waitingcard .card-title{
   background: #7A6B88!important;
   
}
.card-title {
   background: #C06C84;
   border-radius: 15px 15px 0 0 !important;
   padding-top: 9px;
   padding-bottom: 9px;
   font-size: 16px;
    font-weight: 400;
    transition:400ms;
      font-family:"Poppins"!important;
}
.card-text{
   padding: 7px;
}
.RightSide .greanText{
   color: #01A162!important;
}
.RightSide p{

 
    font-weight: 600;
   color:  rgb(108,91,123);
   }
   .fifhtCardNumber{
      font-size: 42px!important;
    color: #C06C84!important;
   
  
    margin: 0;
    padding: 0;
    margin-top: -5px!important;
    font-weight: 500!important;
   }
   
   .CardRightText{
      width: 100%;
      text-align: right;
      margin-right: 9px;
          margin-right: 16px;
      font-size: 14px;
    font-weight: 600;
   color:  rgb(108,91,123);
       margin-bottom: 3px;
   }
   .FourthCardNumber{
      font-size: 42px!important;
   
   text-align: right;
  
    margin: 0;
    padding: 0;
    margin-top: -5px!important;
    font-weight: 500!important;
        margin-bottom: -20px;
   }
   
   
   /* Proggress bar css  */
   .CircularProgressbar .CircularProgressbar-path {
    stroke: #F9AF25!important;
    stroke-linecap: unset!important;
    transition: stroke-dashoffset 0.5s ease 0s;
}
.pateintsPer.CircularProgressbar .CircularProgressbar-path {
    stroke: #01A162!important;
    stroke-linecap: unset!important;
    transition: stroke-dashoffset 0.5s ease 0s;
}
.PendingTask.CircularProgressbar .CircularProgressbar-path {
    stroke: #376498!important;
    stroke-linecap: unset!important;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.proggressBar{
       width: 65px!important;
    margin-top: 12px!important;
}