nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.fixed-top {
    /* border-bottom:1px solid #0000001f; */
    border-bottom: 1px solid rgba(0, 0, 0,10%);
    
}
.headerContentImg{
       border-left: 1px solid #B5B5B5;
    margin-top: 4px;
    margin-right: 5px;
    padding-left: 5px;
}
.headerContentPera{
       margin-top: 10px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
   margin-right: 10px;
   color: #484848!important;
   
      
}
.headerContentTime{

    color: #D35502!important;
    font-weight: 600;

}
.HeaderContentVideo{
   margin-top: -5px;
   margin-left: 5px;
}