.PendingLabHeader{
   
   margin-top: 10px!important;
   margin-left: -40px!important;
}
.switch-off {
   opacity: 0;
}
.switch-on {
   opacity: 0;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: 1px solid #10A56B;
    background-image: linear-gradient(270deg, #10A56B, #41C793);
}
.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 35px!important;
    height: 19px!important;
    pointer-events: none;
    content: "";
   border: 1px solid #D45704;
   background-image: linear-gradient(90deg, #D45704, #D98953);
border-radius: 999px!important;
}
.custom-switch .custom-control-label::after {
    background-color: #ffffff!important;
}
.custom-control-input:focus~.custom-control-label::before {
   box-shadow: 0 0 0 0.2rem #d4570438!important;
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #10A56B;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: 1px solid #10A56B;
    background-image: linear-gradient(
270deg
, #10A56B, #41C793);
    height: 17px;
    width: 35px;
    height: 20px;
    border-radius: 9999px;
}
.custom-switch .custom-control-label::after {
    top: calc(.25rem + 2px)!important;
    left: calc(-2.25rem + 6px)!important;
    width: calc(1rem - 1px)!important;
    height: calc(1rem - 1px)!important;
    background-color: #adb5bd;
    border-radius: .5rem;
    transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-switch .custom-control-label::after {
    top: calc(.25rem + 2px);
    left: calc(-2.25rem + 4px)!important;
    width: calc(1rem - 1px);
    height: calc(1rem - 1px);
    background-color: #adb5bd;
    border-radius: .5rem;
    transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}