.TodoHeader{
   margin-top: 13px;
}
.newAppointment{
   min-width: 8vw;
   margin-left: 25px;
   box-shadow: 3px 3px 13px #c06c84d1;;
}
.CheckBoxInput{
     width: 32px;
    height: 20px;
}
input:checked ~ .checkmark {
  background-color: #f32160;
}
.TodoData{
    font-family: "Poppins"!important;
    font-size: 15px!important;
    text-transform: capitalize!important;
    font-weight: 300!important;
    color: #444444!important;
   letter-spacing: 1px;
}

.lineSlicer{
   text-decoration: line-through!important;
   color: #818181!important;
}